* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#count {
    font-size: 128px;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row-reverse;
}

.button:disabled {
    background-color: #3f332e52;
}

.button {
    font-size: 48px;
    text-align: center;
    padding: 16px 32px;
    min-width: 100px;
    border: none;
    color: white;
    background-color: #0098bb;
}

.messageForm {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8rem;
}

.messageForm form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
